/*footer {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(Images/footer-wall.jpg);
    background-position-x: center;
    background-position-y:top;
    background-repeat: none;
    -webkit-background-size: 100% 100%;
    -moz-background-size: contain;
   background-size: 100% 100%;
    -o-background-size: 100% 100%;
    
}*/